.gradle
/local.properties
/.idea/workspace.xml
*.iml
keystore.properties
.idea/*
/build
crashlytics.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
.DS_Store
/projectFilesBackup
